body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.9em;
    background-color: #f6fff8;
}

#frm-login {
    font-size: 1.2em;
    background-color: white;
    width: 350px;
    border: 1px solid #f6fff8;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#frm-login .form-icon {
    margin-top: 10px;
    color: #6B9080;
    text-align: center;
}

#frm-login .form-title {
    margin: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #6B9080;
}

#frm-login label {
    display: block;
    margin: 5px;
}

#frm-login input[type=text],
#frm-login input[type=password] {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    height: 30px;
    color: #6B9080;
}

#frm-login input[type=submit] {
    background: #6B9080;
    color: #F6FFF8;
    padding: 5px 20px;
    border: 1px solid #ccc;
    transition: all .4s;
}

#frm-login input[type=submit]:hover {
    background: #CCE3DE;
    color: #6B9080;
}

#frm-login .form-footer {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

#frm-login .form-footer a {
    margin-left: 10px;
    text-align: center;
    color: #459671;
    font-size: 0.9em;
    text-decoration: none;
    transition: all .4s;
}

#frm-login .form-footer a:hover {
    color: black;
}